<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="reactive-streams-tck" verbose="1">
    <test name="reactive-streams-tck" parallel="false" preserve-order="true">
        <classes>
            <class name="io.vlingo.reactivestreams.StreamPublisherCompatibilityTest"/>
            <!--
            <class name="io.vlingo.reactivestreams.StreamSubscriberCompatibilityTest"/>
            <class name="io.vlingo.reactivestreams.StreamProcessorCompatibilityTest"/>
            -->
        </classes>
    </test>
</suite>
